<section id="about" class="section section-about">
    <div class="animate-up animated">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="/img/profile.jpg" alt="Samuli Haverinen"></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hey there!</span></div>
                            <h1 class="profile-title"><span>I'm</span> Samuli Haverinen</h1>

                            <h2 class="profile-position">Full-Stack Web developer and Freelancer</h2>
                        </div>
                        <dl class="profile-list">
                            <dt>Email</dt>
                            <dd><a href="mailto:samuli@neatbit.co">samuli@neatbit.co</a></dd>
                            <dt>Phone</dt>
                            <dd><a href="tel:+358440549799">+358 44 054 9799</a></dd>
                            <dt>Skype</dt>
                            <dd><a href="skype:samuli.haverinen">samuli.haverinen</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li><a class="ripple-centered" href="https://fi.linkedin.com/in/samulihaverinen" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.github.com/samppis" target="_blank"><i class="icon fa fa-github"></i></a></li>
                    <li><a class="ripple-centered" href="http://stackoverflow.com/users/4732228/sam" target="_blank"><i class="icon fa fa-stack-overflow"></i></a></li>
                    <li><a class="ripple-centered" href="http://twitter.com/samulihaverinen" target="_blank"><i class="icon fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="profile-text">
            <p>Hi! I'm Samuli Haverinen. An experienced web developer, software architect and consultant. I'm very familiar with Microsoft .NET framework, modern client-side frameworks and both SQL and No-SQL databases. I've built a bunch of websites running in the cloud, participated in product development at startups and consulted some of the biggest companies in Finland.</p>
            <div class="profile-btn">
                <a class="btn btn-border ripple" href="#contact">Get in touch</a>
            </div>
        </div>
    </div>
</section>