<section id="experience" class="section section-experience">
    <div class="animate-up animated">
        <h2 class="section-title animate">My Journey</h2>

        <div class="timeline">
            <div class="timeline-bar" style="top: 80px; height: 892px;"></div>
            <div class="timeline-inner clearfix" style="height: 1205px;">
                <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 0px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right animated">
                        <span class="arrow"></span>
                        <div class="date">2016</div>
                        <h3>I found Neatbit Ltd.</h3>
                        <p>I'm eager to share my knowledge, learn even more and help companies deliver world-class web services. I found a company called Neatbit to help my clients reach their goals and exceed their growth targets.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 70px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left animated">
                        <span class="arrow"></span>
                        <div class="date">2014</div>
                        <h3>I become an entrepreneur</h3>
                        <p>I fulfill my long desire to become an entrepreneur. I feel eager to learn new things and take ideas from the beginning to the end. I do a lot of web development but my days also consist of marketing and customer service relating to a few SaaS-products.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 290px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right animated">
                        <span class="arrow"></span>
                        <div class="date">2013</div>
                        <h3>I work at small startup</h3>
                        <p>I get to experience the true startup spirit by participating in the development of a biotechnology SaaS application running in Microsoft Azure. I learn incredibly much about both front- and backend development, UX-design, testing, project management and devops.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 384px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left animated">
                        <span class="arrow"></span>
                        <div class="date">2012</div>
                        <h3>I get my M. Sc. degree</h3>
                        <p>I finish my studies at Aalto University. My master's thesis is related to event centric architectures and CQRS as well as how they can be used in the development of product configurators.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 604px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right animated">
                        <span class="arrow"></span>
                        <div class="date">2010</div>
                        <h3>I consult big companies</h3>
                        <p>I start working for a Swedish software consultancy company and during the years there I consult over a dozen big Finnish companies. I'm responsible for the development of complex web applications and get to learn everything from databases to UX-design to improving teamwork.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 650px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left animated">
                        <span class="arrow"></span>
                        <div class="date">2007</div>
                        <h3>I get to know .NET Framework</h3>
                        <p>I take a job at an IT-company that operates in the energy sector. I get to do software development and test automation mainly with C# ja PowerShell.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-left" style="position: absolute; left: 0px; top: 918px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-right animated">
                        <span class="arrow"></span>
                        <div class="date">1997</div>
                        <h3>I get into software development</h3>
                        <p>I get excited about programming when 12 years old and develop software for fun in several languages.</p>
                    </div>
                </div>

                <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 892px;">
                    <span class="dot"></span>
                    <div class="timeline-box-inner animate-left animated">
                        <span class="arrow"></span>
                        <div class="date">2003</div>
                        <h3>I release my first ever software</h3>
                        <p>I used to play a lot of table tennis when I was young so I wrote a software that helps in organizing competitions. Immediately after the release it proved to be a huge success and almost all clubs in Finland adopted it. The software is still widely popular and used for example by the Finnish Table Tennis Association.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>