<p>
    ASP.NET Core es un nuevo marco de código abierto y multiplataforma para la construcción
    de las modernas aplicaciones basadas en la nube conectados a Internet , tales como
    aplicaciones web , aplicaciones de la IO y backends móviles. aplicaciones ASP.NET
    núcleo puede ejecutar en .NET Core o en .NET Framework completo.
    Fue diseñado para poder proporcionar un marco de desarrollo optimizado para aplicaciones
    que se implementan en la nube o se ejecutan en las instalaciones.
    Se compone de componentes modulares con una sobrecarga mínima , por lo que mantener la
    flexibilidad al construir sus soluciones. Puede desarrollar y ejecutar su ASP.NET Core
    aplicaciones multiplataforma en Windows, Mac y Linux . ASP.NET Core es de código abierto
    en GitHub .

</p>