<section id="references" class="section section-references">
    <div class="animate-up animated">
        <h2 class="section-title">What others say</h2>
        <div class="section-box">
            <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 357px;">
                    <ul class="ref-slider" style="width: 415%; position: relative; transition-duration: 0.5s; transform: translate3d(-1564px, 0px, 0px);">
                        <li style="float: left; list-style: none; position: relative; width: 782px;" class="bx-clone">
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>Samuli does not stop to amaze me with his skill of grasping a complex problem domain and expressing it with simple and elegant solution. He seems to be able to solve even the most complex development problems very fast and accurately. He learns new design patterns in a matter hours rather than days. In my opinion Samuli is a great addition to any software development team as an architect.</p>
                                </div>
                                <div class="person-info clearfix">
                                    <img class="person-img" src="/img/references/panu.jpg" alt="Headshot">
                                    <div class="person-name-title">
                                        <span class="person-name">Panu Vuorinen</span>
                                        <span class="person-title">Software developer</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 782px;">
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>Samuli is one of the most talented professionals I've had the honor to work with. With a stunning ability of making architectural decisions, he delivers elegant solutions to complex problems that leave others puzzled. Samuli also has strong social skills and is always prepared to offer assistance when it is needed. I cannot recommend Samuli highly enough.</p>
                                </div>
                                <div class="person-info clearfix">
                                    <img class="person-img" src="/img/references/lauri.jpg" alt="Headshot">
                                    <div class="person-name-title">
                                        <span class="person-name">Lauri Harpf</span>
                                        <span class="person-title">IT consultant and entrepreneur</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 782px;">
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>Samuli does not stop to amaze me with his skill of grasping a complex problem domain and expressing it with simple and elegant solution. He seems to be able to solve even the most complex development problems very fast and accurately. He learns new design patterns in a matter hours rather than days. In my opinion Samuli is a great addition to any software development team as an architect.</p>
                                </div>
                                <div class="person-info clearfix">
                                    <img class="person-img" src="/img/references/panu.jpg" alt="Headshot">
                                    <div class="person-name-title">
                                        <span class="person-name">Panu Vuorinen</span>
                                        <span class="person-title">Software developer</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 782px;" class="bx-clone">
                            <div class="ref-box">
                                <div class="person-speech">
                                    <p>Samuli is one of the most talented professionals I've had the honor to work with. With a stunning ability of making architectural decisions, he delivers elegant solutions to complex problems that leave others puzzled. Samuli also has strong social skills and is always prepared to offer assistance when it is needed. I cannot recommend Samuli highly enough.</p>
                                </div>
                                <div class="person-info clearfix">
                                    <img class="person-img" src="/img/references/lauri.jpg" alt="Headshot">
                                    <div class="person-name-title">
                                        <span class="person-name">Lauri Harpf</span>
                                        <span class="person-title">IT consultant and entrepreneur</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><div class="bx-controls"></div>
            </div>
            <div class="ref-slider-nav">
                <span id="ref-slider-prev" class="slider-prev"><a class="bx-prev" href=""><i class="icon icon-chevron_left"></i></a></span>
                <span id="ref-slider-next" class="slider-next"><a class="bx-next" href=""><i class="icon icon-chevron_right"></i></a></span>
            </div>
        </div>
    </div>
</section>