<section id="skills" class="section section-skills">
    <div class="animate-up animated">
        <h2 class="section-title">My skills</h2>
        <div class="section-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">Microsoft .NET, C#, ASP.NET</span>
                            <span class="bar-value">9 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="95%" style="width: 95%;"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">Agile development</span>
                            <span class="bar-value">7 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="85%" style="width: 85%;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">HTML &amp; CSS</span>
                            <span class="bar-value">9 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="95%" style="width: 95%;"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">SQL and No-SQL databases</span>
                            <span class="bar-value">7 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="85%" style="width: 85%;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">JavaScript</span>
                            <span class="bar-value">8 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="85%" style="width: 85%;"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="progress-bar animated">
                        <div class="bar-data">
                            <span class="bar-title">User experience design (UX)</span>
                            <span class="bar-value">5 years</span>
                        </div>
                        <div class="bar-line">
                            <span class="bar-fill" data-width="80%" style="width: 80%;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Recently I've worked with these...</h4>
                    <div class="tagcloud">
                        <span>React</span>
                        <span>AngularJS</span>
                        <span>ASP.NET MVC 6</span>
                        <span>Web Api</span>
                        <span>Bootstrap 3</span>
                        <span>TypeScript</span>
                        <span>Knockout JS</span>
                        <span>SASS</span>
                        <span>LESS</span>
                        <span>Git</span>
                        <span>TFS</span>
                        <span>SQL Server</span>
                        <span>Entity Framework 7</span>
                        <span>Raven DB</span>
                        <span>Azure</span>
                        <span>Redis</span>
                        <span>Bower</span>
                        <span>Gulp</span>
                        <span>Webpack</span>
                        <span>Lucene</span>
                        <span>Visual Studio 2015</span>
                        <span>Scrum</span>
                        <span>TDD</span>
                        <span>SEO</span>
                        <span>Growth Hacking</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>