<p>
    ASP.NET Ядро является новая структура с открытым исходным кодом и кросс-платформенный
    для построения современных облачных интернет подключения приложений на основе ,
    например, веб-приложений , IOT приложений и мобильных бэкэндов.
    ASP.NET Основные приложения могут работать на .NET Ядро или на полной версии .NET Framework.
    Она была спроектирована , чтобы обеспечить оптимальную среду разработки для приложений ,
    которые развернуты в облаке или работать на локальной.
    Она состоит из модульных компонентов с минимальными затратами , поэтому сохраняют
    гибкость при построении ваших решений. Вы можете разработать и запустить
    ASP.NET Основные приложения кросс-платформенный на Windows, Mac и Linux.
    ASP.NET Ядро является открытым исходным кодом на GitHub

</p>