<section id="portfolio" class="section section-portfolio">
    <div class="animate-up animated">
        <h2 class="section-title">Portfolio</h2>
        <p class="profile-text"><small>Here are a few projects that I've been working with lately. The list isn't comprehensive so please ask me for more details!</small></p>
        <div class="grid" style="position: relative; height: 579.532px;">
            <div class="grid-sizer"></div>

            <div class="grid-item size22 photography" style="position: absolute; left: 0%; top: 0px;">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="/img/portfolio/omaetsin-thumb.jpg" alt="OmaEtsin.fi">
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Oma Etsin</h3>
                                <h4 class="portfolio-cat">Photography</h4>

                                <div class="btn-group">
                                    <a class="btn-link" href="http://www.omaetsin.fi" target="_blank"><i class="icon icon-link"></i></a>
                                    <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1"><i class="icon icon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio1-inline1" class="fancybox-inline-box">
                        <div class="inline-cont">
                            <h2 class="inline-title">Search portal for used photography equipment</h2>
                            <div class="inline-text">
                                <p>With this (Finnish) website you can easily and efficiently search for used camera gear from lots of different websites. I built this website some years ago as I (as an photography enthusiast) found it extremely laborous to search through a lot of websites for the same equipment. The website got a really nice response from the community and gained popularity. It has lately been redesigned with the latest frameworks to match the requirements of today.</p>
                                <p><a href="http://www.omaetsin.fi" target="_blank">http://www.omaetsin.fi</a></p>
                                <small>Technologies:<br>React, ASP.NET MVC 6, Entity Framework 7, Microsoft Azure, C#, REST, JavaScript, TypeScript, Bootstrap 3, SASS, Webpack</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .grid-item -->

            <div class="grid-item size11 bridge" style="position: absolute; left: 66.557%; top: 0px;">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="/img/portfolio/applicant-thumb.jpg" alt="Applicant.io">
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Applicant.io</h3>
                                <h4 class="portfolio-cat">Recruitment</h4>

                                <div class="btn-group">
                                    <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" href="#portfolio2-inline1"><i class="icon icon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio2-inline1" class="fancybox-inline-box">
                        <div class="inline-cont">
                            <h2 class="inline-title">Applicant Tracking System</h2>
                            <div class="inline-text">
                                <p>Applicant.io was a SaaS website used by companies to manage their whole recruitment process from creating a job ad to making the final recruitment decisions. The idea was to provide a high class user experience for both recruiters and applicants and make it possible for the whole team to participate in the recruitment process. Unfortunately the service was shut down at the end of 2015 due to high competition.</p>
                                <small>Technologies:<br>ASP.NET MVC, Entity Framework, Microsoft Azure, Bootstrap, LESS, JavaScript, TypeScript, Durandal JS, Knockout JS</small>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div><!-- .grid-item -->

            <div class="grid-item size11 nature photography" style="position: absolute; left: 66.557%; top: 289px;">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="/img/portfolio/shutter-thumb.jpg" alt="Shutter Critic">
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Shutter Critic</h3>
                                <h4 class="portfolio-cat">Photography</h4>

                                <div class="btn-group">
                                    <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox3" href="#portfolio3-inline1"><i class="icon icon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio3-inline1" class="fancybox-inline-box">
                        <div class="inline-cont">
                            <h2 class="inline-title">A photo critique community</h2>
                            <div class="inline-text">
                                <p>Shutter Critic was a website aimed at photographers who wanted to improve their skills by giving and receiving critique from others. It got a very positive response from professionals and other photography enthusiasts but it never reached enough users to make it profitable in the long run.</p>
                                <small>Technologies:<br>ASP.NET MVC, Entity Framework, SQL Server, Microsoft Azure, Bootstrap, LESS, JavaScript, TypeScript, Knockout JS</small>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div><!-- .grid-item -->
        </div>
    </div>
</section>