USE [dbUserManager]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (1, N'Admin', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (2, N'User', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (3, N'Client', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Menu]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuText] [nvarchar](100) NOT NULL,
	[MenuURL] [nvarchar](400) NOT NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (1, N'Role', N'Role', NULL, NULL)
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (2, N'Role Manage', N'Role/Index', 1, NULL)
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder]) VALUES (3, N'Role User Manage', N'RoleUser', 1, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[MaritalStatus]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.MaritalStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] ON
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (1, N'Married')
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (2, N'UnMarried')
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (3, N'Living')
SET IDENTITY_INSERT [dbo].[MaritalStatus] OFF
/****** Object:  Table [dbo].[Language]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Language] ON
INSERT [dbo].[Language] ([Id], [Name]) VALUES (1, N'English')
INSERT [dbo].[Language] ([Id], [Name]) VALUES (2, N'Hindi')
INSERT [dbo].[Language] ([Id], [Name]) VALUES (3, N'Punjabi')
SET IDENTITY_INSERT [dbo].[Language] OFF
/****** Object:  Table [dbo].[Gender]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Gender] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CountryCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([Id], [Name], [CountryCode]) VALUES (1, N'India', N'in')
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[AddressType]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.AddressType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddressType] ON
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (1, N'Living')
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (2, N'Postal')
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (3, N'Permanent')
SET IDENTITY_INSERT [dbo].[AddressType] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[ProfilePicture] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailSignature] [nvarchar](500) NULL,
	[About] [nvarchar](1000) NULL,
	[Website] [nvarchar](100) NULL,
	[GenderId] [int] NOT NULL,
	[MaritalStatusId] [int] NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[IsActive] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[Dated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [UserName], [Password], [FirstName], [MiddleName], [LastName], [DateOfBirth], [ProfilePicture], [Email], [EmailSignature], [About], [Website], [GenderId], [MaritalStatusId], [Phone], [IsActive], [ParentId], [Dated]) VALUES (1, N'Admin', N'Admin', N'Sonu', NULL, N'Singh', CAST(0x00007F2A00000000 AS DateTime), N'steve_jobs_happy-wallpaper-1366x76801032017011126.jpg', N'singh.mvc@gmail.com', NULL, NULL, NULL, 1, 1, N'9878707793', 1, NULL, CAST(0x0000A70D00D94388 AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [Password], [FirstName], [MiddleName], [LastName], [DateOfBirth], [ProfilePicture], [Email], [EmailSignature], [About], [Website], [GenderId], [MaritalStatusId], [Phone], [IsActive], [ParentId], [Dated]) VALUES (2, N'Singh', N'Singh', N'Sonu', NULL, N'Singh', CAST(0x0000A73800000000 AS DateTime), N'DSC_205101032017010240.png', N'singh.mvc@gmail.com', NULL, NULL, NULL, 1, 1, N'9878707793', 1, NULL, CAST(0x0000A70D00D6A1B4 AS DateTime))
INSERT [dbo].[User] ([Id], [UserName], [Password], [FirstName], [MiddleName], [LastName], [DateOfBirth], [ProfilePicture], [Email], [EmailSignature], [About], [Website], [GenderId], [MaritalStatusId], [Phone], [IsActive], [ParentId], [Dated]) VALUES (3, N'test', N'test', N'test', NULL, N'test', CAST(0x0000A74500000000 AS DateTime), N'seaside-wallpaper-1366x76801032017013704.jpg', N'sonu@gmail.com', N'test', N'Good<b> One</b><br>', NULL, 1, 7, N'9878707793', 0, NULL, CAST(0x0000A729011081B8 AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[State]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuPermission]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsCreate] [bit] NULL,
	[IsRead] [bit] NULL,
	[IsUpdate] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_dbo.MenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuPermission] ON
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (1, 1, 1, NULL, NULL, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (2, 2, 1, NULL, NULL, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (3, 3, 1, NULL, NULL, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuPermission] OFF
/****** Object:  Table [dbo].[UserWorkExperience]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWorkExperience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[From] [datetime] NULL,
	[To] [datetime] NULL,
	[JobDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.UserWorkExperience] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSkill]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSkill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.UserSkill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserSkill] ON
INSERT [dbo].[UserSkill] ([Id], [UserId], [SkillName]) VALUES (1, 2, N'asp.net')
INSERT [dbo].[UserSkill] ([Id], [UserId], [SkillName]) VALUES (2, 2, N'mca')
INSERT [dbo].[UserSkill] ([Id], [UserId], [SkillName]) VALUES (3, 2, N'ef')
SET IDENTITY_INSERT [dbo].[UserSkill] OFF
/****** Object:  Table [dbo].[UserSetting]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](500) NOT NULL,
	[SettingGroup] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.UserSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserQualification]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQualification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Qualification] [nvarchar](100) NOT NULL,
	[FromYear] [nvarchar](10) NULL,
	[ToYear] [nvarchar](10) NULL,
	[BoardUniversity] [nvarchar](50) NULL,
	[TotalMarks] [nvarchar](50) NOT NULL,
	[OutOfMarks] [nvarchar](50) NULL,
	[Percentage] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.UserQualification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserQualification] ON
INSERT [dbo].[UserQualification] ([Id], [UserId], [Qualification], [FromYear], [ToYear], [BoardUniversity], [TotalMarks], [OutOfMarks], [Percentage]) VALUES (1, 2, N'Mca', NULL, NULL, N'ptu', N'400', NULL, NULL)
INSERT [dbo].[UserQualification] ([Id], [UserId], [Qualification], [FromYear], [ToYear], [BoardUniversity], [TotalMarks], [OutOfMarks], [Percentage]) VALUES (2, 2, N'Msc It', NULL, NULL, NULL, N'400', NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserQualification] OFF
/****** Object:  Table [dbo].[UserPhone]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPhone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo.UserPhone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserPhone] ON
INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber]) VALUES (1, 2, N'9388282393')
INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber]) VALUES (2, 2, N'92828329')
INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber]) VALUES (3, 2, N'35354345353535')
SET IDENTITY_INSERT [dbo].[UserPhone] OFF
/****** Object:  Table [dbo].[UserMapLocation]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMapLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.UserMapLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLanguage]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLanguage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserLanguage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserLanguage] ON
INSERT [dbo].[UserLanguage] ([Id], [UserId], [LanguageId]) VALUES (1, 2, 1)
INSERT [dbo].[UserLanguage] ([Id], [UserId], [LanguageId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[UserLanguage] OFF
/****** Object:  Table [dbo].[UserEmail]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEmail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserEmail] ON
INSERT [dbo].[UserEmail] ([Id], [Email], [UserId]) VALUES (1, N'singh.mvc@gmail.com', 1)
INSERT [dbo].[UserEmail] ([Id], [Email], [UserId]) VALUES (2, N'davsinsoft@yahoo.com', 2)
INSERT [dbo].[UserEmail] ([Id], [Email], [UserId]) VALUES (3, N'sonu@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[UserEmail] OFF
/****** Object:  Table [dbo].[UserAddress]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[AddressTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserAddress] ON
INSERT [dbo].[UserAddress] ([Id], [UserId], [Address], [AddressTypeId]) VALUES (1, 1, N'Jalandhar', 1)
INSERT [dbo].[UserAddress] ([Id], [UserId], [Address], [AddressTypeId]) VALUES (2, 2, N'Jalandhar', 2)
SET IDENTITY_INSERT [dbo].[UserAddress] OFF
/****** Object:  Table [dbo].[RoleUser]    Script Date: 03/01/2017 18:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleUser] ON
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[RoleUser] OFF
/****** Object:  ForeignKey [FK_dbo.Menu_dbo.Menu_ParentId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Menu_MenuId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Role_RoleId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.Role_RoleId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.State_dbo.Country_CountryId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_dbo.State_dbo.Country_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_dbo.State_dbo.Country_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.Gender_GenderId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Gender_GenderId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.MaritalStatus_MaritalStatusId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.MaritalStatus_MaritalStatusId] FOREIGN KEY([MaritalStatusId])
REFERENCES [dbo].[MaritalStatus] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.MaritalStatus_MaritalStatusId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.User_ParentId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.User_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.User_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.UserAddress_dbo.AddressType_AddressTypeId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAddress_dbo.AddressType_AddressTypeId] FOREIGN KEY([AddressTypeId])
REFERENCES [dbo].[AddressType] ([Id])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_dbo.UserAddress_dbo.AddressType_AddressTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.UserAddress_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAddress_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_dbo.UserAddress_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserEmail_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserEmail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserEmail_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserEmail] CHECK CONSTRAINT [FK_dbo.UserEmail_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserLanguage_dbo.Language_LanguageId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserLanguage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLanguage_dbo.Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[UserLanguage] CHECK CONSTRAINT [FK_dbo.UserLanguage_dbo.Language_LanguageId]
GO
/****** Object:  ForeignKey [FK_dbo.UserLanguage_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserLanguage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLanguage_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLanguage] CHECK CONSTRAINT [FK_dbo.UserLanguage_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserMapLocation_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserMapLocation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserMapLocation_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMapLocation] CHECK CONSTRAINT [FK_dbo.UserMapLocation_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPhone_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserPhone]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPhone_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPhone] CHECK CONSTRAINT [FK_dbo.UserPhone_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserQualification_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserQualification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserQualification_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserQualification] CHECK CONSTRAINT [FK_dbo.UserQualification_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserSetting_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserSetting]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserSetting_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSetting] CHECK CONSTRAINT [FK_dbo.UserSetting_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserSkill_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserSkill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserSkill_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSkill] CHECK CONSTRAINT [FK_dbo.UserSkill_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserWorkExperience_dbo.User_UserId]    Script Date: 03/01/2017 18:15:13 ******/
ALTER TABLE [dbo].[UserWorkExperience]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserWorkExperience_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWorkExperience] CHECK CONSTRAINT [FK_dbo.UserWorkExperience_dbo.User_UserId]
GO
