@{
    ViewData["Title"] = "Sensor Products";
}

<div class="row m-b-40">
    <div id="temperature-f" class="col-xs-12 col-lg-4 m-b-5"></div>
    <div id="temperature-c" class="col-xs-12 col-lg-4 m-b-5"></div>
    <div id="temperature-k" class="col-xs-12 col-lg-4 m-b-5"></div>
    <div id="temperature-h" class="col-xs-12 col-lg-4 m-b-5"></div>
    <div id="voc" class="col-xs-12 col-lg-4 m-b-5"></div>
</div>
<script type="text/babel" src="~/components/sensors/temperature-f.jsx" asp-append-version="true"></script>
<script type="text/babel" src="~/components/sensors/temperature-c.jsx" asp-append-version="true"></script>
<script type="text/babel" src="~/components/sensors/temperature-k.jsx" asp-append-version="true"></script>
<script type="text/babel" src="~/components/sensors/temperature-h.jsx" asp-append-version="true"></script>
<script type="text/babel" src="~/components/sensors/voc.jsx" asp-append-version="true"></script>
